<div class="text-center pt-2">
    {{ if .Site.Params.footer.socialNetworks.email }}
    <span class="px-1">
        <a href="mailto:{{ .Site.Params.footer.socialNetworks.email }}" aria-label="mail" style="font-size: 2em;">
            <i class="fa fa-envelope"></i>
        </a>
    </span>
    {{ end }}

    {{ if .Site.Params.footer.socialNetworks.github }}
    <span class="px-1">
        <a href="{{ .Site.Params.footer.socialNetworks.github }}" aria-label="github" style="font-size: 2em;">
            <i class="fab fa-github"></i>
        </a>
    </span>
    {{ end }}

    {{ if .Site.Params.footer.socialNetworks.linkedin }}
    <span class="px-1">
        <a href="{{ .Site.Params.footer.socialNetworks.linkedin }}" aria-label="linkedin" style="font-size: 2em;">
            <i class="fab fa-linkedin"></i>
        </a>
    </span>
    {{ end }}

    {{ if .Site.Params.footer.socialNetworks.twitter }}
    <span class="px-1">
        <a href="{{ .Site.Params.footer.socialNetworks.twitter }}" aria-label="x-twitter" style="font-size: 2em;">
            <i class="fab fa-x-twitter"></i>
        </a>
    </span>
    {{ end }}

    {{ if .Site.Params.footer.socialNetworks.instagram }}
    <span class="px-1">
        <a href="{{ .Site.Params.footer.socialNetworks.instagram }}" aria-label="instagram" style="font-size: 2em;">
            <i class="fab fa-instagram"></i>
        </a>
    </span>
    {{ end }}

    {{ if .Site.Params.footer.socialNetworks.facebook }}
    <span class="px-1">
        <a href="{{ .Site.Params.footer.socialNetworks.facebook }}" aria-label="facebook" style="font-size: 2em;">
            <i class="fab fa-facebook"></i>
        </a>
    </span>
    {{ end }}
</div>