{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/index.css" media="all">

<script>
    function updateHeaderHeight() {
        document.documentElement.style.setProperty("--header-height", document.getElementById("header").getBoundingClientRect().bottom + "px");
    }
    document.addEventListener("DOMContentLoaded", updateHeaderHeight);
    window.addEventListener("resize", updateHeaderHeight);
</script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{- partial "sections/hero.html" . -}}
{{- partial "sections/about.html" . -}}
{{- partial "sections/projects.html" . -}}
{{- partial "sections/team.html" . -}}
{{- partial "sections/recent.html" . -}}
{{ end }}