{{ if .Site.Params.projects.enable | default true }}
<section id="projects" class="py-5">
    <div class="container">
        <h3 class="text-center text-secondary py-3">
            {{ .Site.Params.projects.title | default "Projects" }}
        </h3>
        <div class="row justify-content-center px-3 px-md-5">
            {{ range .Site.Params.projects.items }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="{{ .name }}">
                    {{ if .image }}
                    <div class="card-header">
                        <img class="card-img-top" src="{{ .image }}" alt="{{ .name }}">
                    </div>
                    {{ end }}
                    <div class="card-body bg-transparent p-3">
                        <h5 class="card-title{{ if not .description }} no-summary{{ end }}" href="{{ .url }}">
                            <a class="stretched-link" href="{{ .url }}"></a> {{ .name }}
                        </h5>
                        {{ if .description }}
                        <div class="card-text secondary-font">
                            {{ .description }}
                        </div>
                        {{ end }}
                    </div>
                    {{ if .Params.tags }}
                    <div class="card-badges bg-transparent p-3">
                        {{ range .Params.tags }}
                        <a class="badge badge-secondary" href="/tags/{{ . }}">{{ . }}</a>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}