{{ if not .Site.Params.sections.disableBlog | default false }}
{{ if gt (len (where .Site.RegularPages "Type" "blog")) 0 }}
<section id="recent" class="py-5 anchor-below-header">
    <div class="container">
        {{ $recentCount := .Site.Params.recent.count | default 3 }}
        <h3 class="text-center text-secondary py-3">
            Recent Posts
        </h3>
        <div class="row justify-content-center px-3 px-md-5">
            {{ range where .Site.RegularPages "Section" "blog" | first $recentCount }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="{{ .Title }}">
                    {{ if and (not (.Site.Params.recent.disableFeaturedImage | default false)) (.Params.image) }}
                    <div class="card-header">
                        <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}">
                    </div>
                    {{ end }}
                    <div class="card-body bg-transparent p-3">
                        <h5 class="card-title{{ if not .Summary }} no-summary{{ end }}">
                            {{ .Title | truncate 25 }}
                        </h5>
                        {{ if .Summary }}
                        <div class="card-text secondary-font">
                            <p>{{ .Summary | truncate 300}}</p>
                        </div>
                        {{ end }}
                    </div>
                    {{ if and .Params.tags (.Site.Params.recent.showTags | default true) }}
                    <div class="card-badges bg-transparent p-3">
                        {{ range .Params.tags }}
                        {{ if not (hasPrefix . "Project/") }}
                        <a class="badge badge-secondary" href='/tags/{{ replace (lower .) " " "-" }}'>{{ . }}</a>
                        {{ end }}
                        {{ end }}
                    </div>
                    {{ end }}
                    {{ if .Site.Params.recent.showDate | default true }}
                    <div class="card-footer bg-transparent p-3">
                        <a class="m-1 mx-2 stretched-link" href="{{ .RelPermalink }}">{{ .Date.Format (.Site.Params.datesFormat.articleList | default "January 2, 2006") }}</a>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            <div class="row justify-content-center">
                <a class="col-auto m-3" href="/blog">
                    See more
                </a>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}