{{ define "head" }}
<meta name="description" content="Blog of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all">
{{ end }}

{{ define "title" }}
Blog | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section id="list-page" class="py-5">
    <div class="container">
        <h3 class="text-center text-secondary py-3">
            Blog
        </h3>
        <div class="row justify-content-center px-3 px-md-5">
            {{ range .Paginator.Pages }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="{{ .Title }}">
                    {{ if and (not (.Site.Params.listPages.disableFeaturedImage | default false)) (.Params.image) }}
                    <div class="card-header">
                        <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Title }}">
                    </div>
                    {{ end }}
                    <div class="card-body bg-transparent p-3">
                        <h5 class="card-title{{ if not .Summary }} no-summary{{ end }}">
                            {{ .Title }}
                        </h5>
                        {{ if .Summary }}
                        <div class="card-text secondary-font">
                            <p>{{ .Summary | truncate 300 }}</p>
                        </div>
                        {{ end }}
                    </div>
                    {{ if .Params.tags }}
                    <div class="card-badges bg-transparent p-3">
                        {{ range .Params.tags }}
                        <a class="badge badge-secondary" href='/tags/{{ replace (lower .) " " "-" }}'>{{ . }}</a>
                        {{ end }}
                    </div>
                    {{ end }}
                    <div class="card-footer bg-transparent p-3">
                        <a class="m-1 mx-2 stretched-link" href="{{ .RelPermalink }}">{{ .Date.Format (.Site.Params.datesFormat.articleList | default "January 2, 2006") }}</a>
                    </div>
                </div>
            </div>
            {{ end }}
            <div class="row justify-content-center">
                <div class="col-auto m-3">
                    {{template "_internal/pagination.html" . }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}