#content {
    flex: 1;
}

/* Animation */
@keyframes appear {
    0% {
        display: none;
    }
    100% {
        display: inline;
    }
}
@keyframes disappear {
    0% {
        display: inline;
    }
    100% {
        display: none;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-bottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Header animation */
@keyframes fade-up {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.homepage header .navbar.animate {
    animation: fade-in 0.5s ease-in;
}

/* ToolTip */

.tooltip {
    line-height: 1rem;
    border-radius: .5rem !important;
}
.tooltip-inner {
    line-height: 1rem;
}
.tooltip .tooltip-arrow { 
    visibility: hidden !important;
}

/* hero */

#hero {
    min-height: -webkit-fill-available;
    line-height: 2rem;
    max-width: 100%;
}

#hero .hero-bottom-svg {
    opacity: 0.5;
    position: absolute;
    bottom: -50px;
    left: -150px;
}

#hero .subtitle {
    font-size: clamp(14px,5vw,16px);
    opacity: 0.6;
}

#hero h1 {
    font-size: clamp(40px, 8vw, 80px);
    color: var(--primary-color) !important;
}

#hero h2 {
    font-size: clamp(40px, 8vw, 60px);
    opacity: 0.5;
}

#hero p {
    margin: 20px 0px 0px;
    max-width: 640px;
    opacity: 0.8;
}

#hero .image img {
    box-shadow:0px 0px 24px rgba(65, 65, 65, 0.16);
    padding: 0;
    border: 3px solid var(--secondary-color);
    border-radius: 1rem;
}

#hero .image.animate img {
    animation: fade-in 1s ease-out;
    transition: box-shadow .5s;
}

#hero .image img:hover {
    cursor: pointer;
}

#hero .image.animate img:hover {
    box-shadow: 0px 12px 24px rgba(65, 65, 65, 0.16);
    filter: contrast(1.2);
    cursor: pointer;
}

#hero a.btn.social-icon {
    color: var(--primary-color) !important;
    line-height: 0%;
    border-radius: 50%;
    margin-top: 50px;
    padding: 0.7rem;
    border: 1px solid var(--primary-color);
    transition: none;
}

#hero a.btn.social-icon img {
    width: 1em;
}

#hero a.btn.social-icon:hover {
    opacity: 0.8;
}

#hero a.btn {
    margin-top: 50px;
    padding: 0.7rem 1.75rem;
    border: 1px solid var(--primary-color);
    color: var(--text-color) !important;
    border-radius: .75rem;
    transition: none;
}

#hero a.btn:focus {
    box-shadow: none;
}

#hero a.btn:hover {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
    opacity: 0.9;
}

#hero a.btn.social-icon:hover {
    background-color: var(--background-color) !important;
    opacity: 0.7;
}

#hero .hero-content > a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#hero .hero-content > a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    opacity: 0.5;
}

#hero .hero-content > a:hover::after, #hero .hero-content > a:focus::after, #hero .hero-content > a:active::after {
    width: 100%;
}

#heroLogo {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity .25s ease-out, transform .25s ease-out;
}

#heroLogo.showLogo {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity .25s ease-out, transform .25s ease-out;
}

#heroLogo #heroLogoDefault {
    animation: fade-in .5s ease;
}

#heroLogo #heroLogoDefault.animated {
    animation: appear 0s ease .5s backwards;
}

#heroLogo #heroLogoParts .fade-left {
    animation: fade-left .5s ease-out;
}

#heroLogo #heroLogoParts .fade-right {
    animation: fade-right .5s ease-out;
}

#heroLogo #heroLogoParts .fade-up {
    animation: fade-up .5s ease-out;
}

#heroLogo #heroLogoParts .fade-bottom {
    animation: fade-bottom .5s ease-out;
}

#heroLogo #heroLogoParts.animated {
    animation: disappear 0s ease .5s forwards;
}

#heroText.animated {
    opacity: 0;
    animation: fade-in .5s ease-out .5s forwards;
}

/* about */

#about h3 {
    color: var(--text-secondary-color) !important;
}

#about .image img {
    box-shadow: 0px 0px 24px rgba(65, 65, 65, 0.16);
    transition: box-shadow .5s;
    padding: 0;
    border: 0;
}

#about .image img:hover {
    box-shadow: 0px 12px 24px rgba(65, 65, 65, 0.16);
}

#about ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

#about ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
}

#about ul li::before {
    content: "▹";
    color: var(--primary-color);
    position: absolute;
    left: 0px;
}

#about .content {
    font-weight: 400;
    opacity: 0.9 !important;
    line-height: 1.7rem !important;
}

#about a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#about a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    opacity: 0.5;
}

#about a:hover::after, #about a:focus::after, #about a:active::after {
    width: 100%;
}

/* projects */

#projects h3 {
    color: var(--text-secondary-color) !important;
}

#projects a {
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#projects .badge {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 0 1%;
}

#projects .card {
    background-color: var(--secondary-color) !important;
    box-shadow: 0px 0px 24px rgba(65, 65, 65, 0.16);
    overflow: hidden;
    border-radius: 1rem;
    border: none !important;
}

#projects .card:hover {
    box-shadow: 0px 7px 24px rgba(65, 65, 65, 0.16);
    transition: transform 0.3s;
    transform: translateY(-7px);
}

#projects .card .card-header {
    padding: 0px !important;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none !important;
}

#projects .card .card-body .card-title.no-summary{
    margin-bottom: 0 !important;
}

#projects .card .card-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#projects .card:hover .card-img-top {
    transform: scale(1.1);
    transition: all 0.3s ease-out;
}

#projects .card-img-top {
    transition: transform 0.3s;
}

#projects .float-end .btn {
    transition: none;
    border-radius: .5rem !important;
    border-color: var(--primary-color) !important;
}

#projects .float-end .btn:focus {
    box-shadow: none !important;
}

/* team */

#team h3 {
    color: var(--text-secondary-color) !important;
}

#team a {
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#team .badge {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 0 1%;
}

#team .card {
    background-color: var(--secondary-color) !important;
    box-shadow: 0px 0px 24px rgba(65, 65, 65, 0.16);
    overflow: hidden;
    border-radius: 1rem;
    border: none !important;
}

#team .card:hover {
    box-shadow: 0px 7px 24px rgba(65, 65, 65, 0.16);
    transition: transform 0.3s;
    transform: translateY(-7px);
}

#team .card .card-header {
    padding: 0px !important;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none !important;
}

#team .card .card-body .card-title.no-summary{
    margin-bottom: 0 !important;
}

#team .card .card-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#team .card:hover .card-img-top {
    transform: scale(1.1);
    transition: all 0.3s ease-out;
}

#team .card-img-top {
    transition: transform 0.3s;
}

#team .float-end .btn {
    transition: none;
    border-radius: .5rem !important;
    border-color: var(--primary-color) !important;
}

#team .float-end .btn:focus {
    box-shadow: none !important;
}

/* recent posts */

#recent h3 {
    color: var(--text-secondary-color) !important;
}

#recent a {
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#recent .badge {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 0 1%;
}

#recent .card {
    background-color: var(--secondary-color) !important;
    box-shadow: 0px 0px 24px rgba(65, 65, 65, 0.16);
    overflow: hidden;
    border-radius: 1rem;
    border: none !important;
}

#recent .card:hover {
    box-shadow: 0px 7px 24px rgba(65, 65, 65, 0.16);
    transition: transform 0.3s;
    transform: translateY(-7px);
}

#recent .card .card-header {
    padding: 0px !important;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none !important;
}

#recent .card .card-body .card-title.no-summary{
    margin-bottom: 0 !important;
}

#recent .card .card-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#recent .card:hover .card-img-top {
    transform: scale(1.1);
    transition: all 0.3s ease-out;
}

#recent .card-img-top {
    transition: transform 0.3s;
}

#recent .float-end .btn {
    transition: none;
    border-radius: .5rem !important;
    border-color: var(--primary-color) !important;
}

#recent .float-end .btn:focus {
    box-shadow: none !important;
}

/* badges */

.badge.badge-secondary {
    position: relative;
    z-index: 2;
}